---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/companies/groups/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"ff_group235","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"ff_group235","displayName":"","displayOrder":100,"hubspotDefined":false}'
  recorded_at: Thu, 02 Feb 2017 10:50:11 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v2/groups/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"ff_group234","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"ff_group234","displayName":"","displayOrder":100,"hubspotDefined":false}'
  recorded_at: Thu, 02 Feb 2017 10:53:03 GMT
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/contacts/groups/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"ff_group234","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"ff_group234","displayName":"","displayOrder":100,"hubspotDefined":false}'
  recorded_at: Thu, 02 Feb 2017 11:14:26 GMT
recorded_with: VCR 2.4.0
