---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/deals/groups?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1BA92D8935A3B97028AA61A153930B2748E166BDC5D2A59A9CB3A9C385
    body:
      encoding: UTF-8
      string: '[{"name":"dealinformation","displayName":"Deal Information","displayOrder":0,"hubspotDefined":false},{"name":"analyticsinformation","displayName":"Analytics
        History","displayOrder":1,"hubspotDefined":true},{"name":"workflowmax","displayName":"WorkflowMAX","displayOrder":1,"hubspotDefined":false},{"name":"invoicing","displayName":"Invoicing","displayOrder":2,"hubspotDefined":false},{"name":"invoicing2","displayName":"Invoicing2","displayOrder":6,"hubspotDefined":false},{"name":"ff_group23","displayName":"","displayOrder":100,"hubspotDefined":false},{"name":"ff_group234","displayName":"","displayOrder":100,"hubspotDefined":false},{"name":"salesforceinformation","displayName":"Salesforce
        Information","displayOrder":101,"hubspotDefined":false},{"name":"name_test_1","displayName":"displayName_test_1","displayOrder":80939,"hubspotDefined":false}]'
  recorded_at: Thu, 02 Feb 2017 09:49:51 GMT
recorded_with: VCR 2.4.0
