---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/properties?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"name":"hs_campaign","label":"Campaign","description":"The marketing
        campaign the deal is associated with","groupName":"dealinformation","type":"string","fieldType":"text","options":[],"formField":false,"displayOrder":-1,"readOnlyDefinition":true,"hidden":true,"mutableDefinitionNotDeletable":true,"displayMode":"current_value","hubspotDefined":true,"calculated":false,"readOnlyValue":false,"externalOptions":true},{"name":"hs_lastmodifieddate","label":"Last
        Modified Date","description":"The date any property on this deal was modified","groupName":"dealinformation","type":"datetime","fieldType":"text","options":[],"formField":false,"displayOrder":-1,"readOnlyDefinition":true,"hidden":false,"mutableDefinitionNotDeletable":true,"displayMode":"current_value","hubspotDefined":true,"calculated":false,"readOnlyValue":true,"externalOptions":false},{"name":"hubspot_owner_assigneddate","label":"Owner
[...]
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/deals/properties?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trace:
      - 1B6B86AAA671D3FB73B4F05D3784BCC02C1084A158DB5FD27B1BB9454C
    body:
      encoding: UTF-8
      string: '[{"name":"hs_analytics_source","label":"Original Source Type","description":"Original
        source for the contact with the earliest activity for this deal.","groupName":"analyticsinformation","type":"enumeration","fieldType":"text","options":[{"description":null,"label":"Organic
        Search","displayOrder":0,"hidden":false,"readOnly":null,"doubleData":null,"value":"ORGANIC_SEARCH"},{"description":null,"label":"Paid
        Search","displayOrder":1,"hidden":false,"readOnly":null,"doubleData":null,"value":"PAID_SEARCH"},{"description":null,"label":"Email
        Marketing","displayOrder":2,"hidden":false,"readOnly":null,"doubleData":null,"value":"EMAIL_MARKETING"},{"description":null,"label":"Social
        Media","displayOrder":3,"hidden":false,"readOnly":null,"doubleData":null,"value":"SOCIAL_MEDIA"},{"description":null,"label":"Referrals","displayOrder":4,"hidden":false,"readOnly":null,"doubleData":null,"value":"REFERRALS"},{"description":null,"label":"Other
        Campaigns","displayOrder":5,"hidden":false,"readOnly":null,"doubleData":null,"value":"OTHER_CAMPAIGNS"},{"description":null,"label":"Direct
        Traffic","displayOrder":6,"hidden":false,"readOnly":null,"doubleData":null,"value":"DIRECT_TRAFFIC"},{"description":null,"label":"Offline
        Sources","displayOrder":7,"hidden":false,"readOnly":null,"doubleData":null,"value":"OFFLINE"},{"description":null,"label":"Paid
        Social","displayOrder":8,"hidden":false,"readOnly":null,"doubleData":null,"value":"PAID_SOCIAL"}],"hubspotDefined":true,"formField":false,"displayOrder":-1,"readOnlyValue":true,"readOnlyDefinition":true,"hidden":false,"mutableDefinitionNotDeletable":true,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value"},{"name":"hs_analytics_source_data_1","label":"Original
        Source Data 1","description":"Additional information about the original source
        for the contact with the earliest activity for this deal.","groupName":"analyticsinformation","type":"string","fieldType":"text","options":[],"hubspotDefined":true,"formField":false,"displayOrder":-1,"readOnlyValue":true,"readOnlyDefinition":true,"hidden":false,"mutableDef[...]
