---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/groups/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"ff_group234","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"ff_group234","displayName":"","displayOrder":100}'
  recorded_at: Tue, 05 Jan 2016 22:54:35 GMT
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/deals/groups/?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"name":"ff_group234","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"ff_group234","displayName":"","displayOrder":100,"hubspotDefined":false}'
  recorded_at: Thu, 02 Feb 2017 09:45:14 GMT
recorded_with: VCR 2.4.0
