---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v2/groups/named/ff_group1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group1''.","correlationId":"e520d302-1378-43a0-9158-3dd7289f10e4","requestId":"6c614438-4ef3-404f-b93e-d563df3d53e6"}'
  recorded_at: Tue, 05 Jan 2016 22:51:36 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/groups/named/ff_group1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group1''.","correlationId":"14388da7-7714-4525-b805-067db1110072","requestId":"79e7e0b3-7d90-4af0-ac43-b5c3ae77b92d"}'
  recorded_at: Thu, 18 Aug 2016 14:05:13 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/groups/named/ff_group1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group1''.","correlationId":"47539b97-baa3-4051-a9a6-33d100010dcc","requestId":"ab5c597a72de5a0b4d07a760f823c1ee"}'
  recorded_at: Thu, 02 Feb 2017 10:48:23 GMT
[...]
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/contacts/groups/named/ff_group1?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group1''.","correlationId":"3af97caf-9d37-44af-9903-31dfffa23443","requestId":"8fed96bb056fe7c3480d806bfcc7156d"}'
  recorded_at: Thu, 02 Feb 2017 11:06:50 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/contacts/groups/named/ff_group234?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hubspot-Notfound:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group234''.","correlationId":"02a05281-5c20-40a6-8451-eba17212f061","requestId":"ad458b5cd709ae3b530334b2f9eb5243"}'
  recorded_at: Thu, 02 Feb 2017 11:07:41 GMT
recorded_with: VCR 2.4.0
