---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/associated/contact/3020024/paged?hapikey=demo&includeAssociations=true&properties=amount
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"deals":[{"portalId":62515,"dealId":66795996,"isDeleted":false,"associations":{"associatedVids":[3020024],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"dealname":{"value":"vtestTOJustDelete-national","timestamp":1485768831635,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"vtestTOJustDelete-national","timestamp":1485768831635,"source":"API","sourceVid":[]}]},"num_associated_contacts":{"value":"1","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"1","source":"CALCULATED","sourceVid":[]}]},"dealstage":{"value":"appointmentscheduled","timestamp":1485768831635,"source":"API","sourceId":null,"versions":[{"name":"dealstage","value":"appointmentscheduled","timestamp":1485768831635,"source":"API","sourceVid":[]}]}},"imports":[]},{"portalId":62515,"dealId":86613613,"isDeleted":false,"associations":{"associatedVids":[3020024],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"dealname":{"value":"vtestTodfajslf-national","timestamp":1485770626276,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"vtestTodfajslf-national","timestamp":1485770626276,"source":"API","sourceVid":[]}]},"num_associated_contacts":{"value":"1","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"nam[...]
