---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?hapikey=demo&includeAssociations=true&properties=amount
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"deals":[{"portalId":62515,"dealId":18039629,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"dealname":{"value":"Company","timestamp":1457040864519,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"Company","timestamp":1457040864519,"source":"API","sourceVid":[]}]},"amount":{"value":"40","timestamp":1482865806608,"source":"CRM_UI","sourceId":"testapi@hubspot.com","versions":[{"name":"amount","value":"40","timestamp":1482865806608,"sourceId":"testapi@hubspot.com","source":"CRM_UI","sourceVid":[]}]},"num_associated_contacts":{"value":"0","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","source":"CALCULATED","sourceVid":[]}]},"dealstage":{"value":"qualifiedtobuy","timestamp":1482866912787,"source":"CRM_UI","sourceId":"testapi@hubspot.com","versions":[{"name":"dealstage","value":"qualifiedtobuy","timestamp":1482866912787,"sourceId":"testapi@hubspot.com","source":"CRM_UI","sourceVid":[]}]}},"imports":[]},{"portalId":62515,"dealId":18040854,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[]},"properties":{"dealname":{"value":"5678","timestamp":1457042290572,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"5678","timestamp":1457042290572,"source":"API","sourceVid":[]}]},"amount":{"value":"750000.0","timestamp":1457042290572,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"750000.0","timestamp":1457042[...]
