---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/associated/company/352000220/paged?hapikey=demo&includeAssociations=true&properties=amount
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"deals":[{"portalId":62515,"dealId":67115801,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[352000220],"associatedDealIds":[]},"properties":{"dealname":{"value":"Tim''s
        Newer Deal","timestamp":1485879183357,"source":"API","sourceId":null,"versions":[{"name":"dealname","value":"Tim''s
        Newer Deal","timestamp":1485879183357,"source":"API","sourceVid":[]}]},"amount":{"value":"60000","timestamp":1485879183357,"source":"API","sourceId":null,"versions":[{"name":"amount","value":"60000","timestamp":1485879183357,"source":"API","sourceVid":[]}]},"num_associated_contacts":{"value":"0","timestamp":0,"source":"CALCULATED","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"0","source":"CALCULATED","sourceVid":[]}]},"dealstage":{"value":"appointmentscheduled","timestamp":1485879183357,"source":"API","sourceId":null,"versions":[{"name":"dealstage","value":"appointmentscheduled","timestamp":1485879183357,"source":"API","sourceVid":[]}]}},"imports":[]}],"hasMore":false,"offset":67115801}'
  recorded_at: Wed, 01 Feb 2017 10:58:45 GMT
recorded_with: VCR 2.4.0
