---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/created
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CLC_oK2gKxICEQEYs-gDILqTDSiRtwIyGQBC-5IT1m0sMv7-biuemlnQWqVSxd0qzOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"companyId":274136281,"isDeleted":false,"properties":{"website":{"value":"new-company-domain-1486140423","timestamp":1486140423690,"source":"COMPANIES","sourceId":null,"versions":[{"name":"website","value":"new-company-domain-1486140423","timestamp":1486140423690,"source":"COMPANIES","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1486140423699","timestamp":1486140423699,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1486140423699","timestamp":1486140423699,"source":"CALCULATED","sourceVid":[]}]},"domain":{"value":"new-company-domain-1486140423","timestamp":1486140423604,"source":"API","sourceId":null,"versions":[{"name":"domain","value":"new-company-domain-1486140423","timestamp":1486140423604,"source":"API","sourceVid":[]}]},"name":{"value":"New
        Company with Params 1486140423","timestamp":1486140423604,"source":"API","sourceId":null,"versions":[{"name":"name","value":"New
        Company with Params 1486140423","timestamp":1486140423604,"source":"API","sourceVid":[]}]},"createdate":{"value":"1486140423604","timestamp":1486140423604,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1486140423604","timestamp":1486140423604,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[]},{"portalId":62515,"companyId":347621148,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1486140274037","timestamp":1486140274037,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1486140274037","timestamp":1486140274037,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"New
        Company 1486140273","timestamp":1486140274036,"source":"API","sourceId":null,"versions":[{"name":"name","value":"New
        Company 1486140273","timest[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/recent/created?count=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CLC_oK2gKxICEQEYs-gDILqTDSiRtwIyGQBC-5IT1m0sMv7-biuemlnQWqVSxd0qzOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results":[{"portalId":62515,"companyId":274136[...]
