---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/215620614
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Acme Cogs"},{"name":"domain","value":"abccogs.com"}]}'
    headers:
      Authorization:
      - Bearer CMSPmJ-hKxICEQEYs-gDILqTDSiRtwIyGQBC-5ITiVAKmgufwUzg_ck9xit5QFdHiu8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":215620614,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1470742458700","timestamp":1470742458700,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1470742458700","timestamp":1470742458700,"source":"CALCULATED","sourceVid":[]}]},"domain":{"value":"abccogs.com","timestamp":1486371849122,"source":"API","sourceId":"215482","versions":[{"name":"domain","value":"abccogs.com","timestamp":1486371849122,"sourceId":"215482","source":"API","sourceVid":[]}]},"name":{"value":"Acme
        Cogs","timestamp":1486371849122,"source":"API","sourceId":"215482","versions":[{"name":"name","value":"Acme
        Cogs","timestamp":1486371849122,"sourceId":"215482","source":"API","sourceVid":[]}]},"description":{"value":"TestCompanyDescription","timestamp":1470742458689,"source":"API","sourceId":null,"versions":[{"name":"description","value":"TestCompanyDescription","timestamp":1470742458689,"source":"API","sourceVid":[]}]},"createdate":{"value":"1470742458689","timestamp":1470742458689,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1470742458689","timestamp":1470742458689,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[]}'
  recorded_at: Mon, 06 Feb 2017 09:04:09 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Acme Cogs"},{"name":"domain","value":"abccogs.com"}]}'
    headers:
      Authorization:
      - Bearer CMSPmJ-hKxICEQEYs-gDILqTDSiRtwIyGQBC-5ITiVAKmgufwUzg_ck9xit5QFdHiu8
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - HEAD,POST,GET,OPTIONS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Feb 2017 09:09:56 GMT
recorded_with: VCR 2.4.0
