---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"New Company 1486140273"}]}'
    headers:
      Authorization:
      - Bearer CLC_oK2gKxICEQEYs-gDILqTDSiRtwIyGQBC-5IT1m0sMv7-biuemlnQWqVSxd0qzOQ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":347621148,"isDeleted":false,"properties":{"name":{"value":"New
        Company 1486140273","timestamp":1486140274036,"source":"API","sourceId":null,"versions":[{"name":"name","value":"New
        Company 1486140273","timestamp":1486140274036,"source":"API","sourceVid":[]}]},"createdate":{"value":"1486140274036","timestamp":1486140274036,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1486140274036","timestamp":1486140274036,"sourceId":"API","source":"API","sourceVid":[]}]}},"additionalDomains":[]}'
  recorded_at: Fri, 03 Feb 2017 16:44:34 GMT
recorded_with: VCR 2.4.0
