---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/215620614
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CMSPmJ-hKxICEQEYs-gDILqTDSiRtwIyGQBC-5ITiVAKmgufwUzg_ck9xit5QFdHiu8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"companyId":215620614,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1470742458700","timestamp":1470742458700,"source":"CALCULATED","sourceId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1470742458700","timestamp":1470742458700,"source":"CALCULATED","sourceVid":[]}]},"name":{"value":"TestCompanyName","timestamp":1470742458689,"source":"API","sourceId":null,"versions":[{"name":"name","value":"TestCompanyName","timestamp":1470742458689,"source":"API","sourceVid":[]}]},"createdate":{"value":"1470742458689","timestamp":1470742458689,"source":"API","sourceId":"API","versions":[{"name":"createdate","value":"1470742458689","timestamp":1470742458689,"sourceId":"API","source":"API","sourceVid":[]}]},"description":{"value":"TestCompanyDescription","timestamp":1470742458689,"source":"API","sourceId":null,"versions":[{"name":"description","value":"TestCompanyDescription","timestamp":1470742458689,"source":"API","sourceVid":[]}]}},"additionalDomains":[]}'
  recorded_at: Mon, 06 Feb 2017 09:04:09 GMT
recorded_with: VCR 2.4.0
