---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/domain/hubspot.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CLC_oK2gKxICEQEYs-gDILqTDSiRtwIyGQBC-5IT1m0sMv7-biuemlnQWqVSxd0qzOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"portalId":62515,"companyId":184896670,"isDeleted":false,"properties":{"country":{"value":"United
        States","timestamp":1457708103906,"source":"BIDEN","sourceId":"country","versions":[{"name":"country","value":"United
        States","timestamp":1457708103906,"sourceId":"country","source":"BIDEN","sourceVid":[]}]},"city":{"value":"Cambridge","timestamp":1457708103906,"source":"BIDEN","sourceId":"city","versions":[{"name":"city","value":"Cambridge","timestamp":1457708103906,"sourceId":"city","source":"BIDEN","sourceVid":[]}]},"num_associated_contacts":{"value":"164","timestamp":1486112895324,"source":"COMPANIES","sourceId":null,"versions":[{"name":"num_associated_contacts","value":"164","timestamp":1486112895324,"source":"COMPANIES","sourceVid":[]}]},"timezone":{"value":"America/New_York","timestamp":1457708103906,"source":"BIDEN","sourceId":"timezone","versions":[{"name":"timezone","value":"America/New_York","timestamp":1457708103906,"sourceId":"timezone","source":"BIDEN","sourceVid":[]}]},"facebook_company_page":{"value":"https://www.facebook.com/hubspot","timestamp":1457708103906,"source":"BIDEN","sourceId":"facebookpageurl","versions":[{"name":"facebook_company_page","value":"https://www.facebook.com/hubspot","timestamp":1457708103906,"sourceId":"facebookpageurl","source":"BIDEN","sourceVid":[]}]},"createdate":{"value":"1457708103847","timestamp":1457708103847,"source":"API","sourceId":null,"versions":[{"name":"createdate","value":"1457708103847","timestamp":1457708103847,"source":"API","sourceVid":[]}]},"description":{"value":"HubSpot
        is the world’s leading inbound marketing and sales platform. Since 2006, HubSpot
        has been on a mission to make the world more inbound. Today, over 10,000 customers
        in 65 countries use HubSpot’s software, services, and support to transform
        the way they attract, engage, and delight customers. HubSpot’s inbound marketing
        software, ranked #1 in customer satisfaction by VentureBeat and G2Crowd, includes
        social media publishing and moni[...]
